.navbar-brand {    
    margin-right: 35px;
}
.nav-drawer {
    margin-left: 35px;
    cursor: pointer;
    padding: 5px;
    background-color: #cccccc;
    border-radius: 50%;
}
.nav-drawer:hover {
    opacity: .5;
}
.choose-branch {
    margin-left: 15px;
    width: 200px;
    background-color: #cccccc;
    padding-right: 5px;
}
.form-control, .form-control:focus, .form-control:hover {
    box-shadow: unset;
    border: none;
    background-color: #cccccc !important;
    cursor: pointer;
}
.container-fluid {
    margin: 0;
    padding: 0;
    //margin: 5px;
}
.content-wrapper{
    height: 100%;
}
.disabled-inputs {
  box-shadow: unset;
  border: none;
  background-color: #fff !important;
  border-bottom: 1px solid #ccc !important;
  cursor: pointer;
}
.disabled-inputs:hover {
  box-shadow: unset;
  border: none;
  background-color: #fff !important;
  cursor: default !important;
}




/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 57px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 25px;
    margin: 10px ;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border-radius: 0.25rem
  }
  
  .active-menu-item {
    color: #000;
    background-color: #cccccc;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #000;
    background-color: #cccccc;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #app {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
