<style scoped>
    hr {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

</style>
<template>
    <form>
        <div class="row">           
            <div class="col-12 p-2">
                <h5 class="text-uppercase">USER ROLES AND PERMISSIONS</h5>
                <hr>   
            </div>
        </div> 

        <div class="form-row">
            <div class="col-12 mb-2 d-flex justify-content-between">           
                <h6 class="text-uppercase pt-2"></h6>
                <div class="d-flex justify-content-end">
                    <router-link :to="{ name: 'create-contact', params: { client_id: this.$route.params.client_id } }" tag="button" id="create_new_contact" type="button" class="btn btn-sm btn-custom p-2 pl-4 pr-4">
                        Create New Contact
                    </router-link>
                </div>
            </div>
            <hr>            
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" width="70">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Priority</th>
                        <th scope="col" width="120">Actions</th>
                    </tr>
                </thead>                
                <tbody>
                    <tr v-for="(contact,key) in contacts" :key="contact.id">
                        <td class="text-capitalize">{{ key+1 }}</td>
                        <td class="text-capitalize">{{ contact.type }}</td>
                        <td class="">{{ contact.detail }}</td>
                        <td class="text-capitalize">{{ contact.priority }}</td>
                        <td class="text-capitalize">
                            <router-link :to="{ name: 'edit-contact', params: { client_id: contact.client_id, contact_id: contact.id } }" tag="button" type="button" class="btn btn-sm btn-links">
                                Edit
                            </router-link>
                            <button type="button" class="btn btn-sm btn-links" v-on:click="deleteContact(contact)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 

        <div class="form-row">
            <div class="col-12 mb-2 d-flex justify-content-between">           
                <h6 class="text-uppercase pt-2"></h6>
                <div class="d-flex justify-content-end">
                    <router-link :to="{ name: 'create-address', params: { client_id: this.$route.params.client_id } }" tag="button" id="create_new_address" type="button" class="btn btn-sm btn-custom p-2 pl-4 pr-4">
                        Create New Address
                    </router-link>
                </div>
            </div>
            <hr>              
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" width="70">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Street Address/Box No.</th>
                        <th scope="col">City</th>
                        <th scope="col">Province</th>
                        <th scope="col" width="90">Code</th>
                        <th scope="col" width="120">Actions</th>
                    </tr>
                </thead>                  
                <tbody>
                    <tr v-for="(address, key) in addresses" :key="address.id">
                        <td class="text-capitalize"> {{ key+1 }}</td>
                        <td class="text-capitalize">{{ address.type }}</td>
                        <td class="text-capitalize">{{ address.address_line_1}} </td>
                        <td class="text-capitalize">{{ address.address_line_2}} </td>
                        <td class="text-capitalize">{{ address.address_line_3}} </td>
                        <td class="text-capitalize">{{ address.address_line_4}} </td>
                        <td class="text-capitalize">
                            <router-link :to="{ name: 'edit-address', params: { client_id: address.client_id, address_id: address.id } }" tag="button" type="button" class="btn btn-sm btn-links">
                                Edit
                            </router-link>
                            <button type="button" class="btn btn-sm btn-links" v-on:click="deleteAddress(address)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </form>
     
</template>

<script>
    export default {
        mounted() {
            //console.log('Component mounted.')
        },
        data () {        
            return {
                start_loader_flag: false,
                error: {name:'', surname:'', id_number:'',passport_number:''},
                addresses: [],
                clients: [],
                client: {
                    name: '',
                    surname: '',
                    id_number: '',
                    passport_number: '',
                },
                contacts: [],
                contact: {
                    id: 0,
                    type: '',
                    detail: '',
                    priority: '',
                    client_id: ''
                }
            }
        },
        watch: {
            '$route' (to, from) {
                //alert(to.params.client_id);
            }
        },
        created(){
            this.getLists();
            this.getAllContacts();
            this.getAllAddresses();
        },
        methods: {
            vue_ui_loader: function (flag) {
                this.start_loader_flag = flag;
            },
            getAllContacts: function () {
                var  _this = this;
                axios.get('/clients/contacts/client_contacts/'+this.$route.params.client_id).then(function (response) {
                    _this.contacts = response.data;
                }).catch(function (error) {
                });
            }, 
            getAllAddresses: function () {
                var  _this = this;
                axios.get('/clients/addresses/client_addresses/'+this.$route.params.client_id).then(function (response) {
                    _this.addresses = response.data;
                }).catch(function (error) {
                });
            },
            deleteContact: function (contact) {
                var _this = this;    
                _this.$dialog.confirm("Are you sure you want to delete the contact?").then(function(dialog) { 
                    _this.vue_ui_loader(true); 
                    axios.post('/clients/contacts/delete_contact', contact).then(function (response) {
                        _this.vue_ui_loader(false); 
                        _this.$dialog.alert(response.data.message).then(function(dialog) {                                         
                            if (response.data.status) {
                                _this.getAllContacts();
                            }  
                        });                   
                    }).catch(function (error) {
                    });
                });
            }, 
            deleteAddress: function (address) {
                var _this = this;    
                _this.$dialog.confirm("Are you sure you want to delete the address?").then(function(dialog) { 
                    _this.vue_ui_loader(true); 
                    axios.post('/clients/addresses/delete_address', address).then(function (response) {
                        _this.vue_ui_loader(false); 
                        _this.$dialog.alert(response.data.message).then(function(dialog) {                                         
                            if (response.data.status) {
                                _this.getAllAddresses();
                            }  
                        });                   
                    }).catch(function (error) {
                    });
                });
            }                      
        }
    }
</script>