<style scoped>
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    capture-photo img {
        width: 250px;
        border-radius: 50%;
    }    
</style>
<template>
    <div>
        <div class="row">           
            <div class="col-12 p-2 mb-0">
                <div class="d-flex justify-content-between">
                    <h5 class="text-uppercase pt-2">USER DETAILS</h5>
                    <button id="archive_client_details" type="button" class="btn btn-sm btn-custom p-2 pl-4 pr-4" v-on:click="deleteClient(client)">
                        Delete User
                    </button>
                </div>
                <hr>   
            </div>
        </div>       

        <div class="row">           
            <div class="col-12 col-sm-12 col-md-2 p-2 mb-3">
                <div class="capture-photo text-center">
                    <img src="img/Blank-Silhouette.jpg" class="img-fluid mb-3" height="250px">
                </div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option1"> Upload
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option2"> Capture
                    </label>
                </div>                
            </div>
            <div class="col-12 col-sm-12 col-md-10 p-2">  
                <form>   
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="client_name">Name:</label>
                            <input type="text" v-bind:class="[not_editing_css]" class="form-control" id="client_name" v-model="client.name" placeholder="Name" @change="error.name = ''" :disabled="not_editing_client" required>
                            <small v-if="this.error.name" class="text-danger">{{ error.name }}</small>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="client_surname">Surname:</label>
                            <input type="text" v-bind:class="[not_editing_css]" class="form-control" id="client_surname" v-model="client.surname" placeholder="Surname" @change="error.surname =''" :disabled="not_editing_client" required>
                            <small v-if="this.error.surname" class="text-danger">{{ error.surname }}</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_number">Id Number:</label>
                            <input type="text" v-bind:class="[not_editing_css]" class="form-control" id="id_number" v-model="client.id_number" placeholder="Id number" @change="error.id_number = '', error.passport_number =''" :disabled="not_editing_client" required>
                            <small v-if="this.error.id_number" class="text-danger">{{ error.id_number }}</small>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="passport_number">Passport Number:</label>
                            <input type="text" v-bind:class="[not_editing_css]" class="form-control" id="passport_number" v-model="client.passport_number" placeholder="Passport number" @change="error.id_number = '', error.passport_number =''" :disabled="not_editing_client" required>
                            <small v-if="this.error.passport_number" class="text-danger">{{ error.passport_number }}</small>
                        </div>
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="birth_date">Birth Date:</label>
                            <Datepicker id="birth_date" v-if="!not_editing_client" :disabled="not_editing_client" v-model="client.birth_date" @change="error.birth_date = ''" input-class="form-control" format="yyyy-MM-dd" placeholder="yyyy-mm-dd" :minimumView="'day'" :maximumView="'year'" :initialView="'day'"></Datepicker>
                            <input type="text" v-if="not_editing_client" v-bind:class="[not_editing_css]" class="form-control" id="view_birth_date" v-model="client.birth_date" placeholder="Birth date" :disabled="not_editing_client">
                            <small v-if="this.error.birth_date" class="text-danger">{{ error.birth_date }}</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="gender">Gender:</label>
                            <select v-model="client.gender" v-bind:class="[not_editing_css]" class="form-control" :disabled="not_editing_client">
                                <option v-for="(gender, key) in this.$data.lists.genders" v-bind:key="key" v-bind:value="key">
                                    {{ gender }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="marital_status">Marital Status:</label>
                            <select v-model="client.marital_status" v-bind:class="[not_editing_css]" class="form-control" :disabled="not_editing_client">
                                <option v-for="(marital_status, key) in this.$data.lists.marital_statuses" v-bind:key="key" v-bind:value="key">
                                    {{ marital_status }}
                                </option>
                            </select>
                        </div>            
                    </div>    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nationality">Nationality:</label>
                            <input type="text" v-bind:class="[not_editing_css]" class="form-control" id="nationality" v-model="client.nationality" placeholder="Nationality" @change="error.nationality =''" :disabled="not_editing_client" required>
                            <small v-if="this.error.nationality" class="text-danger">{{ error.nationality }}</small>
                        </div>
                    </div>       
                             
                    <div class="form-row">
                        <div class="form-group col-md-12 d-flex justify-content-start">
                            <button v-if="not_editing_client" type="button" class="btn btn-sm btn-custom p-2 pl-4 pr-4 mr-2" v-on:click="not_editing_client = false, not_editing_css = ''"> Edit </button>
                            <button v-if="!not_editing_client" type="button" class="btn btn-sm btn-custom p-2 pl-4 pr-4 mr-2" v-on:click="not_editing_client = true, not_editing_css = 'disabled-inputs'; getClient(client.id)"> Cancel </button>
                            <button v-if="!not_editing_client" type="button" class="btn btn-sm btn-custom p-2 pl-4 pr-4 mr-2" v-on:click="not_editing_client = true, not_editing_css = ''; updateClient()"> Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</template>
</template>

<script>
    export default {
        mounted() {
        },
        data () {
            return {
                not_editing_css: 'disabled-inputs',
                not_editing_client: true,
                start_loader_flag: false,
                error: {name:'', surname:'', id_number:'', birth_date:'', passport_number:''},
                client: {
                    id: 0,
                    name: '',
                    surname: '',
                    id_number: '',
                    passport_number: '',
                    birth_date: '',
                    gender: 'none',
                    marital_status: 'none',
                    nationality: '',
                    company_id: ''
                }
            }
        },
        watch: {
            '$route' (to, from) {
            }
        },
        created(){
            this.getLists();
            this.getClient(this.$route.params.client_id);
        },
        methods: {            
            vue_ui_loader: function (flag) {
                this.start_loader_flag = flag;
            },
            getClient: function (client_id) {
                var  _this = this;
                axios.get('/clients/view_client/'+client_id).then(function (response) {
                    _this.client = response.data;
                }).catch(function (error) {
                });
            },                
            validateForm: function () {
                //this.$emit('created_client_id', 54859);
                if (this.client.name == '' ) { this.error.name = 'The name field is required'; return false; }
                if (this.client.surname == '' ) { this.error.surname = 'The surname field is required'; return false; }
                if (this.client.id_number == '' && this.client.passport_number == '' ) { 
                    this.error.id_number = 'The id number field is required'; 
                    this.error.passport_number = 'The passport number field is required'; 
                    return false; 
                }
                if (this.client.birth_date == '' ) { this.error.birth_date = 'The birth date field is required'; return false; }
                return true;
            },
            updateClient: function () {
                var _this = this;    
                if (this.validateForm()) {
                    _this.vue_ui_loader(true);                      
                    axios.post('/clients/update_client', this.client).then(function (response) {  
                        _this.vue_ui_loader(false);                  
                        _this.$dialog.alert(response.data.message).then(function(dialog) { 
                            if (response.data.status) {
                                _this.not_editing_client = true; 
                                _this.not_editing_css = 'disabled-inputs';
                                _this.client = response.data.client;
                            }                    
                         });
                    }).catch(function (error) {
                        _this.not_editing_client = true; 
                        _this.not_editing_css = 'disabled-inputs';                        
                        _this.$dialog.alert('Unable to update client, please try again.').then(function(dialog) { });
                        _this.vue_ui_loader(false);
                    });                
                }
            },
            deleteClient: function (client) {
                var _this = this;    
                _this.$dialog.confirm("You are about to delete a client, you will not be able to undo this. Are you sure you want to continue?").then(function(dialog) { 
                    _this.vue_ui_loader(true); 
                    axios.post('/clients/delete_client/', client).then(function (response) {
                        _this.vue_ui_loader(false); 
                        _this.$dialog.alert(response.data.message).then(function(dialog) {                                         
                            if (response.data.status) {
                                _this.$router.push({ name: 'clients', params: {}});
                            }  
                        });                   
                    }).catch(function (error) {
                    });
                });
            }                  
        }
    }
</script>