<style scopped>
    /* .all-clients table > tbody > tr:hover {
        background-color: #ccc;
        /* cursor: pointer; */
    .pagination-link {
        color: #000 !important;
        cursor: pointer;
    }
    .pagination_link_active {
        background-color: #e9ecef;
    }
</style>
<template>
    <div class="all-clients">
        <form>
            <div class="form-group row">
                <div class="col-12 col-md-3 d-flex align-items-start flex-column">
                    <label for="exampleInputEmail1">Filter results by:</label>
                    <input type="text" class="form-control" id="staticEmail" value="" v-model="filter_phrase" placeholder="Name / Email / Cell">
                    
                </div>
                <div class="col-12 col-md-9 d-flex align-items-end flex-row-reverse">
                    <router-link v-show="this.$route.name!=='create'" to="create" tag="button" type="button" class="btn btn-sm btn-custom mt-auto p-2 mr-2">Create New Client</router-link>
                </div>
            </div>
        </form>
        <hr>        
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cellphone</th>
                    <th scope="col">Email Address</th>
                    <th scope="col" width="50"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(client, key) in resultQuery" v-bind:key="key" >
                    <td class="text-capitalize">{{ pagination.from + key }}</td>
                    <td class="text-capitalize">{{client.name}} {{client.surname}}</td>
                    <td class="text-capitalize">{{client.cellphone}}</td>
                    <td>{{client.email}}</td>
                    <td>
                        <router-link :to="{ name: 'view-client', params: { client_id: client.id } }" tag="button" type="button" class="btn btn-sm btn-links">
                            View
                        </router-link>
                    </td>
                </tr>
            </tbody>            
        </table>
        <div v-if="!clients.length" class="alert alert-dark" role="alert">
            <b>0 Clients found</b>
        </div>
        <nav aria-label="table-pagination">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link pagination-link" v-on:click="goToPage(1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                
                <li v-for="(page, key) in pagination.total" v-bind:key="key" class="page-item">
                    <a v-bind:class="{  pagination_link_active : page == pagination.current_page }" class="page-link pagination-link" v-on:click="goToPage(page)" > {{ page }} </a>
                </li>

                <li class="page-item">
                    <a class="page-link pagination-link" v-on:click="goToPage(pagination.total)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getAllClients(1);
        },
        data () {
            return {
                clients: [],
                pagination: {
                    total: 1,
                    current_page: 0,
                    next_page_url: '',
                    prev_page_url: '',
                    row_count_index: 0,
                    per_page: 0,
                    from: 0
                },
                filter_phrase: ''
            }
        },
        computed: {
            resultQuery(){
                if(this.filter_phrase){
                    return this.clients.filter((client)=>{
                        return this.filter_phrase.toLowerCase().split(' ').every(v => client.name.toLowerCase().includes(v)) || 
                        this.filter_phrase.toLowerCase().split(' ').every(v => client.surname.toLowerCase().includes(v)) ||
                        this.filter_phrase.toLowerCase().split(' ').every(v => client.cellphone.toLowerCase().includes(v)) ||
                        this.filter_phrase.toLowerCase().split(' ').every(v => client.email.toLowerCase().includes(v))
                    })
                }else{
                    return this.clients;
                }
            }
        },        
        methods: {
            goToComponent: function (view_name, param) {
                this.$router.push({ name: view_name, params: { client_id: param.id }});
            },
            getAllClients: function (pageNumber) {
                var  _this = this;
                axios.get('/clients/company_clients?page='+pageNumber).then(function (response) {
                    console.log(response.data);
                    _this.clients = response.data.data;
                    _this.paginationComponents(response.data);
                }).catch(function (error) {
                });
            },
            paginationComponents: function ($properties) {
                this.pagination.current_page = $properties.current_page;
                this.pagination.total = Math.ceil($properties.total / $properties.per_page);
                this.pagination.next_page_url = $properties.next_page_url;
                this.pagination.prev_page_url = $properties.prev_page_url;
                this.pagination.per_page = $properties.per_page;
                this.pagination.from = $properties.from;
                console.log('pagination', this.pagination);
            },
            goToPage: function(page) {
                // if (page > 1) {
                //     if (this.pagination.row_count_index < this.pagination.total) {
                //         this.pagination.row_count_index = this.pagination.row_count_index + this.pagination.per_page;
                //     }                    
                // }
                this.getAllClients(page);
            },
            previousPage: function() {

            },
            goToNextPage: function () {

            }                                  
        }
    }
</script>
