<style scoped>
    form {
        border-left: 1px solid #000;
        padding-left: 15px;
        height: 100%;
    }

    capture-photo img {
        width: 250px;
        border-radius: 50%;
    }
</style>
<template>
    <div>
        <loader v-show="this.start_loader_flag" object="#ff9633" color1="#ffffff" color2="#17fd3d" size="5" speed="2" bg="#343a40" objectbg="#999793" opacity="80" name="dots"></loader>        
        <div class="row">           
            <div class="col-12 p-2">
                <h5 class="text-uppercase">Create New Client</h5>
                <hr>   
            </div>
        </div>
        <div class="row">           
            <div class="col-12 col-sm-12 col-md-2 p-2 mb-3">
                <div class="capture-photo text-center">
                    <img src="img/Blank-Silhouette.jpg" class="img-fluid mb-3" height="250px">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-10 p-2 mb-3">  
                <form>   
                <h6 class="text-uppercase">Personal Details</h6>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="client_name">Name</label>
                        <input type="text" class="form-control" id="client_name" v-model="client.name" placeholder="Name" @change="error.name = ''" required>
                        <small v-if="this.error.name" class="text-danger">{{ error.name }}</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="client_surname">Surname</label>
                        <input type="text" class="form-control" id="client_surname" v-model="client.surname" placeholder="Surname" @change="error.surname =''" required>
                        <small v-if="this.error.surname" class="text-danger">{{ error.surname }}</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_number">Id Number</label>
                        <input type="text" class="form-control" id="id_number" v-model="client.id_number" placeholder="Id number" @change="error.id_number = '', error.passport_number =''" required>
                        <small v-if="this.error.id_number" class="text-danger">{{ error.id_number }}</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="passport_number">Passport Number</label>
                        <input type="text" class="form-control" id="passport_number" v-model="client.passport_number" placeholder="Passport number" @change="error.id_number = '', error.passport_number =''" required>
                        <small v-if="this.error.passport_number" class="text-danger">{{ error.passport_number }}</small>
                    </div>
                </div>  
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="birth_date">Birth Date</label>
                        <Datepicker id="birth_date" v-model="client.birth_date" v-on:changedMonth="client.birth_date=''" @change="client.birth_date=''" input-class="form-control" format="yyyy-MM-dd" placeholder="yyyy-mm-dd" :minimumView="'day'" :maximumView="'year'" :initialView="'day'"></Datepicker>
                        <small v-if="this.error.birth_date" class="text-danger">{{ error.birth_date }}</small>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="gender">Gender</label>
                        <select v-model="client.gender" class="form-control">
                            <option v-for="(gender, key) in this.$data.lists.genders" v-bind:key="key" v-bind:value="key">
                                {{ gender }}
                            </option>
                        </select> 
                    </div>
                    <div class="form-group col-md-3">
                        <label for="marital_status">Marital Status</label>
                        <select v-model="client.marital_status" class="form-control">
                            <option v-for="(marital_status, key) in this.$data.lists.marital_statuses" v-bind:key="key" v-bind:value="key">
                                {{ marital_status }}
                            </option>
                        </select>
                    </div>            
                </div>    
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nationality">Nationality</label>
                        <input type="text" class="form-control" id="nationality" v-model="client.nationality" placeholder="Nationality" @change="error.nationality =''" required>
                        <small v-if="this.error.nationality" class="text-danger">{{ error.nationality }}</small>
                    </div>
                </div> 
                <hr> 
                <h6 class="text-uppercase">Contact Details</h6>
                <hr>  
                <div class="form-row">                
                    <div class="form-group col-md-6">
                        <label for="client_email">Email Address</label>
                        <input type="email" class="form-control" id="email" v-model="client.email" @change="error.email =''" placeholder="Email address">
                        <small v-if="this.error.email" class="text-danger">{{ error.email }}</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="client_cellphone">Cellphone</label>
                        <input type="text" class="form-control" id="cellphone" v-model="client.cellphone" @change="error.cellphone =''" placeholder="Cellphone">
                        <small v-if="this.error.cellphone" class="text-danger">{{ error.cellphone }}</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="address_line_1">Home Street Address</label>
                        <input type="text" class="form-control" id="address_line_1" v-model="client.address_line_1" placeholder="Street address">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="address_line_2">City</label>
                        <input type="text" class="form-control" id="address_line_2" v-model="client.address_line_2" placeholder="City">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="address_line_3">Province</label>
                        <select v-model="client.address_line_3" class="form-control">
                            <option v-for="(province, key) in this.$data.lists.provinces" v-bind:key="key" v-bind:value="key">
                                {{ province }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="address_line_4">Postal</label>
                        <input type="text" class="form-control" id="address_line_4" v-model="client.address_line_4"  placeholder="Code">
                    </div>
                </div>        
                <hr>            
                <div class="form-row">
                    <div class="form-group col-md-12 d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-custom p-2 mr-2" v-on:click="saveClient()"> Submit </button>
                        <router-link :to="{ name: 'clients', params: {  } }" tag="button" id="client_information" type="button" class="btn btn-sm btn-custom p-2">Cancel</router-link>
                    </div>
                </div>
                </form>
            </div>
        </div>                                   
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        data () {
            return {
                start_loader_flag: false,
                error: {name:'', surname:'', id_number:'', birth_date:'', passport_number:'', email:'', cellphone:''},
                client: {
                    name: '',
                    surname: '',
                    id_number: '',
                    passport_number: '',
                    birth_date: '',
                    gender: 'none',
                    marital_status: 'none',
                    nationality: '',
                    email: '',
                    cellphone: '',
                    address_line_1: '',
                    address_line_2: '',
                    address_line_3: 'none',
                    address_line_4: '',
                }
            }
        },
        watch: {
            '$route' (to, from) {
            }
        },
        created(){
            this.getLists();
        },
        methods: {            
            vue_ui_loader: function (flag) {
                this.start_loader_flag = flag;
            },   
            validateForm: function () {
                if (this.client.name == '' ) { this.error.name = 'The name field is required'; return false; }
                if (this.client.surname == '' ) { this.error.surname = 'The surname field is required'; return false; }
                if (this.client.id_number == '' && this.client.passport_number == '' ) { 
                    this.error.id_number = 'The id number field is required'; 
                    this.error.passport_number = 'The passport number field is required'; 
                    return false; 
                }
                if (this.client.birth_date == '' ) { this.error.birth_date = 'The birth date field is required'; return false; }
                if (this.client.email == '' ) { this.error.email = 'The email field is required'; return false; }
                if (this.client.cellphone == '' ) { this.error.cellphone = 'The cellphone field is required'; return false; }
                return true;
            },
            saveClient: function (event) {
                var _this = this;    
                if (this.validateForm()) {
                    _this.vue_ui_loader(true);  
                    axios.post('/clients/create_client', this.client).then(function (response) {  
                        _this.vue_ui_loader(false);                  
                        _this.$dialog.alert(response.data.message).then(function(dialog) { 
                            if (response.data.status) {
                                _this.$router.push({ name: 'clients', params: {}});
                            }
                         });
                    }).catch(function (error) {
                        _this.$dialog.alert('Unable to save client, please try again.').then(function(dialog) { });
                        _this.vue_ui_loader(false);
                    });                
                }
            }         
        }
    }
</script>