<style scoped>
    hr {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

</style>
<template>
    <form>
        <div class="row">           
            <div class="col-12 p-2">
                <h5 v-if="!this.contact_id" class="text-uppercase">CREAT NEW CONTACT</h5>
                <h5 v-if="this.contact_id" class="text-uppercase">EDIT CONTACT</h5>
                <hr>   
            </div>
        </div>         
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="type">Type</label>
                <select v-model="contact.type" class="form-control">
                    <option v-for="(contact_type, key) in this.$data.lists.contact_types" v-bind:key="key" v-bind:value="key">
                        {{ contact_type }}
                    </option>
                </select>
                <small v-if="this.error.type" class="text-danger">{{ error.type }}</small>
            </div>    
            <div class="form-group col-md-2">
                <label for="priority">Priority</label>
                <select v-model="contact.priority" class="form-control">
                    <option v-for="(contact_priority_type, key) in this.$data.lists.contact_priority_types" v-bind:key="key" v-bind:value="key">
                        {{ contact_priority_type }}
                    </option>
                </select>
                <small v-if="this.error.priority" class="text-danger">{{ error.priority }}</small>
            </div>                                        
            <div class="form-group col-md-8">
                <label for="detail">Detail</label>
                <input type="text" class="form-control" id="detail" v-model="contact.detail" placeholder="099 999 999">
                <small v-if="this.error.detail" class="text-danger">{{ error.detail }}</small>
            </div>
        </div>        

        <div class="form-row">
            <div class="col-12 mb-2 d-flex justify-content-between">           
                <div class="d-flex justify-content-end">
                    <router-link :to="{ name: 'contact-info', params: { client_id: this.$route.params.client_id } }" tag="button" id="create_new_contcat" type="button" class="btn btn-sm btn-custom p-2 pl-4 pr-4 mr-2">
                        Cancel
                    </router-link>
                    <button type="button" class="btn btn-sm btn-custom p-2 pl-4 pr-4 mr-2" v-on:click="saveContact()"> Save </button>
                </div>
            </div>
        </div> 
    </form>
     
</template>

<script>
    export default {
        mounted() {
            
        },
        data () {        
            return {
                contact_id: this.$route.params.contact_id,
                client_id: this.$route.params.client_id,
                start_loader_flag: false,
                error: {type:'', detail:'', priority:''},
                contact: {
                    id: this.contact_id,
                    type: 'cellphone',
                    detail: '',
                    priority: 'primary',
                    client_id: this.$route.params.client_id
                }
            }
        },
        watch: {
            '$route' (to, from) {
                //alert(to.params.client_id);
            }
        },
        created(){
            //alert(this.$route.params.client_id);
            this.getLists();
            if (this.$route.params.contact_id > 0) {
                this.getContact();
            }
        },
        methods: {
            vue_ui_loader: function (flag) {
                this.start_loader_flag = flag;
            },  
            getContact: function () {
                var  _this = this;
                axios.get('/clients/contacts/client_contact/'+this.client_id+'/'+this.contact_id).then(function (response) {
                    _this.contact = response.data;
                }).catch(function (error) { 
                });
            },
            validateForm: function () {
                if (this.contact.type == '' ) { this.error.type = 'The type field is required'; return false; }
                if (this.contact.priority == '' ) { this.error.priority = 'The priority field is required'; return false; }
                if (this.contact.detail == '' ) { this.error.detail = 'The detail field is required'; return false; }
                return true;
            },
            saveContact: function () {
                var _this = this;    
                if (this.validateForm()) {
                    _this.vue_ui_loader(true); 
                    console.log(this.contact);
                    axios.post('/clients/contacts/create_contact', this.contact).then(function (response) {
                        _this.vue_ui_loader(false);                  
                        _this.$dialog.alert(response.data.message).then(function(dialog) { 
                            if (response.data.status) {
                                _this.$router.push({ name: 'contact-info', params: { client_id: _this.$route.params.client_id} });
                            }
                        });
                    }).catch(function (error) {
                    });
                }
            }                    
        }
    }
</script>