<style scoped>
    hr {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

</style>
<template>
    <form>
        <div class="row">           
            <div class="col-12 p-2">
                <h5 v-if="!address_id" class="text-uppercase">CREAT NEW ADDRESS</h5>
                <h5 v-if="address_id" class="text-uppercase">EDIT ADDRESS</h5>
                <hr>   
            </div>
        </div>         
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="address_line_3">Type</label>
                <select v-model="address.type" class="form-control">
                    <option v-for="(address_type, key) in this.$data.lists.address_types" v-bind:key="key" v-bind:value="key">
                        {{ address_type }}
                    </option>
                </select>
                <small v-if="this.error.type" class="text-danger">{{ error.type }}</small>
            </div>
            <div class="form-group col-md-5">
                <label for="address_line_1">Street Address</label>
                <input type="text" class="form-control" id="address_line_1" v-model="address.address_line_1" placeholder="Street address">
                <small v-if="this.error.address_line_1" class="text-danger">{{ error.address_line_1 }}</small>
            </div>
            <div class="form-group col-md-5">
                <label for="address_line_2">City</label>
                <input type="text" class="form-control" id="address_line_2" v-model="address.address_line_2" placeholder="City">
                <small v-if="this.error.address_line_2" class="text-danger">{{ error.address_line_2 }}</small>
            </div>
            <div class="form-group col-md-2">
                <label for="address_line_3">Province</label>
                <select v-model="address.address_line_3" class="form-control">
                    <option v-for="(province, key) in this.$data.lists.provinces" v-bind:key="key" v-bind:value="key">
                        {{ province }}
                    </option>
                </select>
                <small v-if="this.error.address_line_3" class="text-danger">{{ error.address_line_3 }}</small>
            </div>
            <div class="form-group col-md-2">
                <label for="address_line_4">Postal</label>
                <input type="text" class="form-control" id="address_line_4" v-model="address.address_line_4"  placeholder="Code">
                <small v-if="this.error.address_line_4" class="text-danger">{{ error.address_line_4 }}</small>
            </div>
        </div>       

        <div class="form-row">
            <div class="col-12 mb-2 d-flex justify-content-between">           
                <div class="d-flex justify-content-end">
                    <router-link :to="{ name: 'contact-info', params: { client_id: this.$route.params.client_id } }" tag="button" id="create_new_contcat" type="button" class="btn btn-sm btn-custom p-2 pl-4 pr-4 mr-2">
                        Cancel
                    </router-link>
                    <button type="button" class="btn btn-sm btn-custom p-2 pl-4 pr-4 mr-2" v-on:click="saveAddress()"> Save </button>
                </div>
            </div>
        </div> 
    </form>
     
</template>

<script>
    export default {
        mounted() {
            //console.log('Component mounted.')
        },
        data () {        
            return {
                address_id: this.$route.params.address_id,
                client_id: this.$route.params.client_id,
                start_loader_flag: false,
                error: {type:'', address_line_1:'', address_line_2:'',address_line_3:'', address_line_4: ''},
                address: {
                    id: this.$route.params.address_id,
                    type: 'home',
                    address_line_1: '',
                    address_line_2: '',
                    address_line_3: 'none',
                    address_line_4: '',
                    client_id: this.$route.params.client_id
                }
            }
        },
        watch: {
            '$route' (to, from) {
                //alert(to.params.client_id);
            }
        },
        created(){
            this.getLists();
            if (this.$route.params.address_id > 0) {
                this.getAddress();
            }
        },
        methods: {
            vue_ui_loader: function (flag) {
                this.start_loader_flag = flag;
            },  
            validateForm: function () {
                if (this.address.type == '' ) { this.error.type = 'The type field is required'; return false; }
                if (this.address.address_line_1 == '' ) { this.error.address_line_1 = 'The street address or box number field is required'; return false; }
                if (this.address.address_line_2 == '' ) { this.error.address_line_2 = 'The city field is required'; return false; }
                if (this.address.address_line_3 == '' ) { this.error.address_line_3 = 'The province field is required'; return false; }
                if (this.address.address_line_4 == '' ) { this.error.address_line_4 = 'The postal code field is required'; return false; }
                return true;
            },
            getAddress: function () {
                var  _this = this;
                axios.get('/clients/addresses/client_address/'+this.client_id+'/'+this.address_id).then(function (response) {
                    _this.address = response.data;
                }).catch(function (error) { 
                });
            },            
            saveAddress: function () {
                var _this = this;    
                if (this.validateForm()) {
                    _this.vue_ui_loader(true); 
                    axios.post('/clients/addresses/create_address', this.address).then(function (response) {
                        _this.vue_ui_loader(false);                  
                        _this.$dialog.alert(response.data.message).then(function(dialog) { 
                            if (response.data.status) {
                                _this.$router.push({ name: 'contact-info', params: { client_id: _this.$route.params.client_id} });
                            }
                        });
                    }).catch(function (error) {
                    });
                }
            }                             
        }
    }
</script>