<style scoped>
    .nav-button-border {
        border-bottom: 2px solid #fff;
        border-radius: 0px;
        width: 100%;
    }
    .btn {
        border-radius: 0px;
        box-shadow: none;
    }
</style>
<template>
    <div class="row">
        <div class="col-2">
            <div class="btn-group-vertical w-100 mini-navigation" role="group" aria-label="Basic example">
                <router-link :to="{ name: 'client-info', params: { client_id: this.$route.params.client_id } }" tag="button" id="client_information" type="button" class="btn btn-secondary navigation-button mr-1 mb-1">Personal Information</router-link>
                <router-link :to="{ name: 'contact-info', params: { client_id: this.$route.params.client_id } }" tag="button" id="medical_aid_details" type="button" class="btn btn-secondary navigation-button mr-1 mb-1">Contacts and addresses</router-link>
                <!-- <router-link :to="{ name: 'client-info', params: { client_id: this.$route.params.client_id } }" tag="button" id="medical_file" type="button" class="btn btn-secondary mr-1 mb-1">Medical File</router-link>
                <router-link :to="{ name: 'client-info', params: { client_id: this.$route.params.client_id } }" tag="button" id="interaction_history" type="button" class="btn btn-secondary mb-1">Interaction History</router-link> -->
            </div>
        </div>
        <div class="col-10">
            <router-view :key="$route.path"></router-view>    
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            //console.log('Component mounted.', this.$route)
        },
        watch: {
            '$route' (to, from) {
                //alert(to.params.client_id);
            }
        },
        created(){
            //alert(this.$route.params.client_id);
        },
        methods: {
            
        }
    }
</script>